

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


// ------- MAC -------------------

#define mCHAR 0
#define mNR 1

#define mLCHAR 2
#define mNRhard 3

#define mNAV 4
#define mNAV2 5

#define mPRG 6
#define mSPRG 7

#define mFUNC 8
#define mSFUNC 9

#define mSYM 10
#define mSSYM 11

#define mGUI 12
#define mSGUI 13
#define mCTL 14
#define mALT 15

#define mAlter 16
#define mPNAV 17	

#define mSCHAR 18
#define mSShift 19


// ------- WIN -------------------


#define wCHAR 20
#define wNR 21

#define wLCHAR 22
#define wNRhard 23

#define wNAV 24
#define wNAV2 25

#define wPRG 26
#define wSPRG 27

#define wFUNC 28
#define wSFUNC 29

#define wSYM 30
#define wSSYM 31

#define wGUI 32
#define wSGUI 33
#define wCTL 34
#define wALT 35

#define wAlter 36
#define wPNAV 37	

#define wSCHAR 38
#define wSShift 39


 
/ {
    chosen {
    	zmk,matrix_transform = &default_transform;
    };
};




/ {

    behaviors {

		// ------------------------- MAC ---------------------
	

        mdNr: tap_dance_mdNr {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdNr";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to mNR>, <&sl mNR>;
        };


		mdLs: tap_dance_mdLs {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdLs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl mSCHAR>, <&to mLCHAR>;
        };
		mdRs: tap_dance_mdRs {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdRs";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl mSCHAR>, <&to mLCHAR>;
        };



		// ------------------------- WiN ---------------------

		mdNrWin: tap_dance_mdNrWin {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdNrWin";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to wNR>, <&sl wNR>;
        };

		mdLsWin: tap_dance_mdLsWin {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdLsWin";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl wSCHAR>, <&to wLCHAR>;
        };
		mdRsWin: tap_dance_mdRsWin {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_mdRsWin";
            #binding-cells = <0>;
            tapping-term-ms = <1000>;
            bindings = <&sl wSCHAR>, <&to wLCHAR>;
        };

    };

	
    macros {

		// ------------------------- MAC ---------------------

        mSpaceReset: mSpaceReset {
            label = "mSpaceReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&kp SPACE>
                ;
    	};
		mEnterReset: mEnterReset {
            label = "mEnterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&kp ENTER>
                ;
    	};
		mNavReset: mNavReset {
            label = "mNavReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mNAV>
                ;
    	};
		mPrgReset: mPrgReset {
            label = "mPrgReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mPRG>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mPRG>
                ;
    	};
		mFuncReset: mFuncReset {
            label = "mFuncReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mFUNC>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mFUNC>
                ;
    	};
		mSymReset: mSymReset {
            label = "mSymReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mSYM>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mSYM>
                ;
    	};




		mFuncMarkLine: mFuncMarLine {
            label = "mFuncMarkLnie";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LG(RIGHT)>
				, <&kp LS(LG(LEFT))>
                ;
    	};

		mFuncMarkWord: mFuncMarkWord {
            label = "mFuncMarkWord";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LA(RIGHT)>
				, <&kp LS(LA(LEFT))>
                ;
    	};



		mAlterShift: mAlterShift {
            label = "mAlterShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mAlter>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mAlter>
                ;
    	};

		mPNAVShift: mPNAVShift {
            label = "mPNAVShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mPNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mPNAV>
                ;
    	};

		mNavShift: mNavShift {
            label = "mNavShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to mCHAR>
                , <&macro_press &mo mNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo mNAV>
				;
    	};

		mNrShift: mNrShift {
            label = "mNrShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog mNRhard>
				, <&macro_press &mo mSShift>
            	, <&macro_release &mo mSShift>
                ;
    	};




		// ------------------------- WiN ---------------------

        wSpaceReset: wSpaceReset {
            label = "wSpaceReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&kp SPACE>
                ;
    	};
		wEnterReset: wEnterReset {
            label = "wEnterReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&kp ENTER>
                ;
    	};
		wNavReset: wNavReset {
            label = "wNavReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wNAV>
                ;
    	};
		wPrgReset: wPrgReset {
            label = "wPrgReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wPRG>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wPRG>
                ;
    	};
		wFuncReset: wFuncReset {
            label = "wFuncReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wFUNC>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wFUNC>
                ;
    	};
		wSymReset: wSymReset {
            label = "wSymReset";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wSYM>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wSYM>
                ;
    	};




		wFuncMarkLine: wFuncMarLine {
            label = "wFuncMarkLnie";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp END>
				, <&kp LS(HOME)>
                ;
    	};

		wFuncMarkWord: wFuncMarkWord {
            label = "wFuncMarkWord";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp LC(RIGHT)>
				, <&kp LC(LS(LEFT))>
                ;
    	};



		wAlterShift: wAlterShift {
            label = "wAlterShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wAlter>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wAlter>
                ;
    	};

		wPNAVShift: wPNAVShift {
            label = "wPNAVShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wPNAV>
                ;
    	};

		wNavShift: wNavShift {
            label = "wNavShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to wCHAR>
                , <&macro_press &mo wNAV>
    			, <&macro_pause_for_release>
				, <&macro_release &mo wNAV>
				;
    	};

		wNrShift: wNrShift {
            label = "wNrShift";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog wNRhard>
				, <&macro_press &mo wSShift>
            	, <&macro_release &mo wSShift>
                ;
    	};

	};





	keymap
	{	
		compatible = "zmk,keymap";



		// ----------------------------------------------------------------------------------------------|
		// 											MAC			
		// ----------------------------------------------------------------------------------------------|


		// -----------------------------------------------------|
		// Layer 0 - mChar = 	  Buchstaben					|
		// -----------------------------------------------------|
	
		mac_buchstaben
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp J 
				&kp D	 
				&kp U
				&kp A
				&kp X

				&kp P
				&kp H
				&kp L
				&kp M
				&kp W
				&kp BSPC

				// ----------------------------------------
	
				&sl mSShift
				&kp C
				&kp T
				&kp I
				&kp E
				&kp O

				&kp B
				&kp N
				&kp R
				&kp S
				&kp G
				&kp RET

				// ----------------------------------------
	
				&mdLs
				&kp F
				&kp V
				&kp MINUS
				&kp Y
				&kp Q

				&kp Z
				&kp SEMI
				&kp LBKT
				&kp SQT
				&kp K
				&mdRs

				// ----------------------------------------

				&sl mSYM
				&kp SPACE
				&sl mFUNC
				&sl mPRG
				&sl mNAV
				&mdNr

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 1 - mNR = 	  Zahlen 							|
		// -----------------------------------------------------|

		mac_zahlen
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BACKSPACE

				// ----------------------------------------

				&sl mSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8			
				&kp N9				
				&kp N0				
				&mEnterReset 

				// ----------------------------------------

				&mdLs
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&mdRs

				// ----------------------------------------
		
				&mSymReset
				&mSpaceReset 
				&mFuncReset
				&mPrgReset
				&mNavReset
				&none
			>;		
		};



		// -----------------------------------------------------|
		// Layer 2 - mLCHAR = 	  Buchstaben Lock				|
		// -----------------------------------------------------|
	
		mac_lchar
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)

				// ----------------------------------------
	
				&sl mSShift
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)
			
				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&mEnterReset

				// ----------------------------------------

				&mdLs
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&mdRs						

				// ----------------------------------------

				&sl mSYM
				&mSpaceReset 
				&mFuncReset
				&mPrgReset
				&mNavReset
				&mdNr

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 3 - mNRhard = 	  Zahlen Hard Lock				|
		// -----------------------------------------------------|

		mac_zahlenhard
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BSPC

				// ----------------------------------------

				&sl mSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8				
				&kp N9				
				&kp N0				
				&kp ENTER 

				// ----------------------------------------

				&mdLs
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&mdRs

				// ----------------------------------------
		
				&sl mSYM
				&kp SPACE
				&sl mFUNC
				&sl mPRG
				&sl mNAV
				&to mCHAR
			>;		
		};





		// -----------------------------------------------------|
		// Layer = 4 - mNAV - Navigation						|
		// -----------------------------------------------------|

		mac_navigation
		{		
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC						// -
				&kp LG(UP)					// @Home Sprung
				&kp LS(TAB)
				&kp UP						// @Up
				&kp TAB
				&kp LG(A)				 	// 

				&kp LS(F1)				 	// 
				&kp LS(F2)				 	// 
				&kp PG_UP
				&kp LS(F4)				 	// 
				&kp LGUI
				&kp BSPC					// -

				// ----------------------------------------

				&sl mSShift					// -
				&kp LG(DOWN)				// @End Sprung
				&kp LEFT 					// @Left
				&kp DOWN					// @Down
				&kp RIGHT 					// @Right
				&mFuncMarkLine

				&kp LS(F6)				 	// 
				&kp LS(F7)				 	// 
				&kp PG_DN
				&kp LS(F9)				 	// 
				&kp LCTL
				&kp ENTER					// -
				
				// ----------------------------------------

				&mdLs
				&kp LG(LEFT)				// @Home 
				&kp LA(LEFT)				// @Wort Sprung
				&kp LA(RIGHT)				// @Wort Sprung
				&kp LG(RIGHT)				// @End  
				&mFuncMarkWord

				&kp LS(F11)				 	// 
				&kp LS(F12)				 	// 
				&kp LS(F13)				 	// 
				&kp LS(F14)				 	// 
				&kp LS(F15)				 	// 
				&mdRs

				// ----------------------------------------

				&sl mSYM
				&kp SPACE				
				&sl mFUNC
				&mo mCHAR
				&sl mNAV2					// deep
				&to mCHAR

				// ----------------------------------------							
			>;
		};

		// ---------------------------------------------------------|
		// Layer = 5 - mNAV2 - Navigation deep						|
		// ---------------------------------------------------------|		

		mac_navigation2
		{		
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LS(ESC)	
				&kp LG(LS(UP))
				&kp LS(TAB)
				&kp LS(UP)					
				&kp TAB
				&kp LG(A)

				&kp LA(F1) 
				&kp LA(F2) 
				&kp LG(PG_UP)
				&kp LA(F4) 
				&kp LGUI
				&kp DEL

				// ----------------------------------------

				&sl mSShift					// -					
				&kp LG(LS(DOWN))				
				&kp LS(LEFT)		
				&kp LS(DOWN)		
				&kp LS(RIGHT)		
				&mFuncMarkLine

				&kp LA(F6) 
				&kp LA(F7) 
				&kp LG(PG_DN)
				&kp LA(F9) 
				&kp LCTL
				&kp ENTER

				// ----------------------------------------
	
				&mdLs	
				&kp LG(LS(LEFT))			// @Home 
				&kp LA(LS(LEFT))			// @Wort Sprung
				&kp LA(LS(RIGHT))			// @Wort Sprung
				&kp LG(LS(RIGHT))			// @End  
				&mFuncMarkWord

				&kp LA(F11) 
				&kp LA(F12) 
				&kp LA(F13) 
				&kp LA(F14) 
				&kp LA(F15) 
				&mdRs

				// ----------------------------------------

				&sl mSYM
				&kp SPACE				
				&sl mFUNC
				&mo mCHAR					// 
				&mNavShift						// 
				&to mCHAR

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 6 - mPRG =	Programme							|
		// -----------------------------------------------------|


		mac_programme
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LG(H)
				&kp LG(LS(N1))				// 11
				&kp LG(LS(N2))				// 12
				&kp LG(LS(N3))				// 13
				&kp LG(LS(N4))				// 14
				&kp LG(LS(N5))				// 15

				&kp LG(LS(N6))				// 16
				&kp LG(LS(N7))				// 17
				&kp LG(LS(N8))				// 18
				&kp LG(LS(N9))				// 19
				&kp LG(LS(N0))				// 20
				&kp LG(Q)

				// ----------------------------------------

				&kp LG(TAB)
				&kp LG(LA(N1))				// 1
				&kp LG(LA(N2))				// 2
				&kp LG(LA(N3))				// 3
				&kp LG(LA(N4))				// 4
				&kp LG(LA(N5))				// 5

				&kp LG(LA(N6))				// 6
				&kp LG(LA(N7))				// 7
				&kp LG(LA(N8))				// 8
				&kp LG(LA(N9))				// 9
				&kp LG(LA(N0))				// 0
				&kp LG(LS(F4))

				// ----------------------------------------

				&kp LG(LS(F5))
				&kp LC(LA(N1))			// 21 			
				&kp LC(LA(N2))			// 22
				&kp LC(LA(N3))			// 23
				&kp LC(LA(N4))			// 24
				&kp LC(LA(N5))			// 25
	
				&kp LC(LA(N6))			// 26
				&kp LC(LA(N7))			// 27
				&kp LC(LA(N8))			// 28
				&kp LC(LA(N9))			// 29
				&kp LC(LA(N0))			// 30
				&kp LG(LS(F6))
		
				// ----------------------------------------

				&none
				&none
				&none
				&sl mSPRG					// deep						
				&mNavShift
				&none

				// ----------------------------------------

			>;
		};
		


		// -----------------------------------------------------|
		// Layer 7 - mSPRG =	Spezial Prgramme				|
		// -----------------------------------------------------|


		mac_sprogramme
		{

			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F7))			// #OPEN
				&kp LA(F1)				//
				&kp LA(F2)				//
				&kp LA(F3)				//
				&kp LA(F4)				//
				&kp LA(F5)				//

				&kp LG(F1)				//
				&kp LG(F2)				//
				&kp LG(F3)				//
				&kp LG(F4)				//
				&kp LG(F5)				//
				&kp LG(LS(F8))			// #OPEN
		
				// ----------------------------------------

				&kp LG(LS(F9))			// #OPEN
				&kp LA(F6)				//
				&kp LA(F7)				//
				&kp LA(F8)				//
				&kp LA(F9)				//
				&kp LA(F9)				//

				&kp LC(F6)				//
				&kp LC(F7)				//
				&kp LC(F8)				//
				&kp LC(F9)				//
				&kp LC(F10)				//
				&kp LG(LS(F10))			// #OPEN

				// ----------------------------------------

				&kp LG(LS(F11))			// #OPEN			
				&kp LA(F11)				//
				&kp LA(F12)				//
				&kp LA(F13)				//
				&kp LA(F14)				//
				&kp LA(F15)				//

				&kp LG(F11)				//
				&kp LG(F12)				//
				&kp LG(F13)				//
				&kp LG(F14)				//
				&kp LG(F15)				//
				&kp LS(LG(F12))			// #OPEN
		
				// ----------------------------------------

				&none						//
				&none						//
				&none
				&trans						// 
				&mNavShift
				&none						// 

				// ----------------------------------------

			>;
		};
					


		// -----------------------------------------------------|
		// Layer 8 - mFUNC =	Funktionen						|
		// -----------------------------------------------------|

		mac_function
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------
	
				&kp LG(LS(F13))				
				&kp LC(LA(F1))	
				&kp LC(LA(F2))	
				&kp LC(LA(F3))	
				&kp LC(LA(F4))	
				&kp LC(LA(F5))	

				&kp LS(LA(F1))	
				&kp LS(LA(F2))					
				&kp LS(LA(F3))		
				&kp LS(LA(F4))	
				&kp LS(LA(F5))	
				&kp LG(W)				
				
				// ----------------------------------------

				&kp LG(LS(F14))		
				&kp LG(A)
				&kp LC(LA(F7))				
				&kp LC(LA(F8))				
				&kp LG(C)			
				&kp LG(X)

				&kp LG(LA(V))
				&kp LG(V)
				&kp LS(LA(F8))				
				&kp LS(LA(F9))	
				&kp LS(LA(F10))	
				&kp ENTER

				// ----------------------------------------

				&kp LS(LG(F15))
				&kp LG(S)
				&kp LG(Y)
				&kp LG(LS(Y))
				&kp LG(O)
				&kp LC(LA(F15))

				&kp LG(P)	
				&kp LS(LA(F11))	
				&kp LS(LA(F12))	
				&kp LS(LA(F13))	
				&kp LG(F)	
				&kp LG(T)
				
				// ----------------------------------------

				&sl mALT
				&sl mGUI					//
				&sl mSFUNC					// deep
				&none
				&mNavShift					//
				&none						//

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 9 - mSFUNC =	Spezial Funktionen				|
		// -----------------------------------------------------|

		mac_specialfunction
		{
			label = "MAC";

			bindings = <

			// ----------------------------------------
	
				&kp LG(LS(F16))			
				&kp LG(LA(F1))				// #OPEN
				&kp LG(LA(F2))				// #OPEN
				&kp LG(LA(F3))				// #OPEN
				&kp LG(LA(F4))				// #OPEN
				&kp LG(LA(F5))				// #OPEN

				&kp LS(LA(LC(F1)))			// #OPEN
				&kp LS(LA(LC(F2)))			// #OPEN
				&kp LS(LA(LC(F3)))			// #OPEN
				&kp LS(LA(LC(F4)))			// #OPEN
				&kp LS(LA(LC(F5)))			// #OPEN
				&kp LS(LG(W))
				
				// ----------------------------------------

				&kp LG(LS(F17))		
				&kp LG(LA(F6))				// @Craft Today
				&kp LG(LA(F7))				// @Craft Tomorrow
				&kp LG(LA(F8))				// #OPEN
				&kp LG(LA(F9))				// #OPEN
				&kp LG(LA(F10))				// @Craft Last Day

				&kp LS(LA(LC(F6)))			// @Craft Today
				&kp LS(LA(LC(F7)))			// @Craft Tomorrow
				&kp LS(LA(LC(F8)))			// #OPEN
				&kp LS(LA(LC(F9)))			// #OPEN
				&kp LS(LA(LC(F10)))			// @Craft Last Day
				&kp LG(ENTER)	

				// ----------------------------------------

				&kp LG(LS(F18))		
				&kp LG(LA(F11))				// @Craft Einkauf
				&kp LG(LA(F12))				// #OPEN
				&kp LG(LA(F13))				// #OPEN
				&kp LG(LA(F14))				// #OPEN
				&kp LG(LA(F15))				// #OPEN

				&kp LS(LA(LC(F11)))			// @Craft Einkauf
				&kp LS(LA(LC(F12)))			// #OPEN
				&kp LS(LA(LC(F13)))			// #OPEN
				&kp LG(F18)					// #OPEN Different
				&kp LG(F19)					// #OPEN Different
				&kp LS(LG(T))
				
				// ----------------------------------------

				&sl mCTL
				&sl mSGUI					//
				&trans						// 
				&none
				&mNavShift						//
				&none						//

				// ----------------------------------------       
			>;
		};



		// -----------------------------------------------------|
		// Layer 10 - mSYM =	Symoble							|
		// -----------------------------------------------------|

		mac_symbole
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------
				
				&kp ESC
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BACKSPACE			// Backspace

				// ----------------------------------------

				&kp LGUI
				&kp LA(L)				// @
				&kp LA(N7)				// grader strich
				&kp LS(N6)				// &
				&kp NUHS				// #
				&kp LS(N3)				// §

				&kp LS(N2)				// "
				&kp LS(N1)				// !
				&kp LS(N8)				// Runde
				&kp LS(N9)				// Runde
				&kp LS(MINUS)			// ?
				&kp ENTER

				// ----------------------------------------

				&kp LSHIFT				//
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&kp LG(LC(SPACE))   	// @Sonderzeichen
		
				// ----------------------------------------

				&sl mSSYM				// deep
				&none		 			//
				&none					// 
				&none					//
				&mNavShift				//
				&none					//

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 11 - mSSYM =	Special Symbole					|
		// -----------------------------------------------------|

		mac_specialsonderzeichen
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&trans					//
				&trans 					// 
				&trans					//
				&trans					//
				&trans					//

				&trans					//
				&trans
				&trans					//
				&kp RA(M)				// 
				&trans					//
				&kp BACKSPACE			// 

				// ----------------------------------------

				&kp LCTL
				&trans					//
				&kp LS(GRAVE)			// Grad
				&trans					//
				&trans					//
				&trans					//

				&trans					//
				&trans					//
				&kp LA(N5)				// Eckige
				&kp LA(N6)				// Eckige
				&trans					//
				&kp ENTER

				// ----------------------------------------

				&kp LALT
				&kp LS(LA(N7))			// 
				&trans
				&trans
				&kp LS(N4) 				// $
				&trans					//

				&kp LA(N)				// ~
				&trans
				&kp LA(N8)				// Geschweift
				&kp LA(N9)				// Geschweift
				&kp LS(SLASH)			// _
				&kp LG(LC(SPACE))   	// @Sonderzeichen

				// ----------------------------------------

				&trans					//
				&none
				&none					// 
				&none					//
				&mNavShift				// 
				&none					//

				// ----------------------------------------
			>;
		};	




		// -----------------------------------------------------|
		// Layer 12 - mGUI =	GUI								|
		// -----------------------------------------------------|

		mac_gui
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LG(ESC)					// 
				&kp LG(J)					//
				&kp LG(D)					//
				&kp LG(U)					//
				&kp LG(A)					//
				&kp LG(X)					//

				&kp LG(P)					//
				&kp LG(H)					//
				&kp LG(L) 					//
				&kp LG(M)					//
				&kp LG(W) 					//
				&kp LG(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LG(DEL)					//
				&kp LG(C)					//
				&kp LG(T)					//
				&kp LG(I)					//
				&kp LG(E)					//
				&kp LG(O)					//

				&kp LG(B)					//
				&kp LG(N)					//
				&kp LG(R)					//
				&kp LG(S)					//
				&kp LG(G)					//
				&kp LG(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LG(F)					//
				&kp LG(V)					//
				&kp LG(MINUS)				//
				&kp LG(Y)					//
				&kp LG(Q)					//

				&kp LG(Z)					//
				&kp LG(SEMICOLON)			//
				&kp LG(LEFT_BRACKET)		//
				&kp LG(SINGLE_QUOTE)		//
				&kp LG(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 13 - mSGUI =	SGUI								|
		// -----------------------------------------------------|

		mac_sgui
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(ESC))					// 
				&kp LG(LS(J))					//
				&kp LG(LS(D))					//
				&kp LG(LS(U))					//
				&kp LG(LS(A))					//
				&kp LG(LS(X))					//

				&kp LG(LS(P))					//
				&kp LG(LS(H))					//
				&kp LG(LS(L))					//
				&kp LG(LS(M))					//
				&kp LG(LS(W))					//
				&kp LG(LS(BACKSPACE))			//

				// ----------------------------------------
		
				&kp LG(LS(DEL))					// 
				&kp LG(LS(C))					//
				&kp LG(LS(T))					//
				&kp LG(LS(I))					//
				&kp LG(LS(E))					//
				&kp LG(LS(O))					//

				&kp LG(LS(B))					//
				&kp LG(LS(N))					//
				&kp LG(LS(R))					//
				&kp LG(LS(S))					//
				&kp LG(LS(G))					//
				&kp LG(LS(ENTER))				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LG(LS(F))					//
				&kp LG(LS(V))					//
				&kp LG(LS(MINUS))				//
				&kp LG(LS(Y))					//
				&kp LG(LS(Q))					//

				&kp LG(LS(Z))					//
				&kp LG(LS(SEMICOLON))			//
				&kp LG(LS(LEFT_BRACKET))		//
				&kp LG(LS(SINGLE_QUOTE))		//
				&kp LG(LS(K)) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 14 - mCTL =	CTL								|
		// -----------------------------------------------------|

		mac_ctl
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LC(ESC)					// 
				&kp LC(J)					//
				&kp LC(D)					//
				&kp LC(U)					//
				&kp LC(A)					//
				&kp LC(X)					//

				&kp LC(P)					//
				&kp LC(H)					//
				&kp LC(L) 					//
				&kp LC(M)					//
				&kp LC(W) 					//
				&kp LC(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LC(DEL)					//
				&kp LC(C)					//
				&kp LC(T)					//
				&kp LC(I)					//
				&kp LC(E)					//
				&kp LC(O)					//

				&kp LC(B)					//
				&kp LC(N)					//
				&kp LC(R)					//
				&kp LC(S)					//
				&kp LC(G)					//
				&kp LC(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LC(F)					//
				&kp LC(V)					//
				&kp LC(MINUS)				//
				&kp LC(Y)					//
				&kp LC(Q)					//

				&kp LC(Z)					//
				&kp LC(SEMICOLON)			//
				&kp LC(LEFT_BRACKET)		//
				&kp LC(SINGLE_QUOTE)		//
				&kp LC(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 15 - mALT =	ALT								|
		// -----------------------------------------------------|

		mac_alt
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LA(ESC)					// 
				&kp LA(J)					//
				&kp LA(D)					//
				&kp LA(U)					//
				&kp LA(A)					//
				&kp LA(X)					//

				&kp LA(P)					//
				&kp LA(H)					//
				&kp LA(L) 					//
				&kp LA(M)					//
				&kp LA(W) 					//
				&kp LA(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LA(DEL)					//
				&kp LA(C)					//
				&kp LA(T)					//
				&kp LA(I)					//
				&kp LA(E)					//
				&kp LA(O)					//

				&kp LA(B)					//
				&kp LA(N)					//
				&kp LA(R)					//
				&kp LA(S)					//
				&kp LA(G)					//
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LA(F)					//
				&kp LA(V)					//
				&kp LA(MINUS)				//
				&kp LA(Y)					//
				&kp LA(Q)					//

				&kp LA(Z)					//
				&kp LA(SEMICOLON)			//
				&kp LA(LEFT_BRACKET)		//
				&kp LA(SINGLE_QUOTE)		//
				&kp LA(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 16 - mAlter =	Alterantive						|
		// -----------------------------------------------------|

		mac_mAlter
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&none
				&kp LG(N1)					// 11
				&kp LG(N2)					// 12
				&kp LG(N3)					// 13
				&kp LG(N4)					// 14
				&kp LG(N5)					// 15

				&kp LG(N6)					// 16
				&kp LG(N7)					// 17
				&kp LG(N8)					// 18
				&kp LG(N9)					// 19
				&kp LG(N0)					// 20
				&none

				// ----------------------------------------
		
				&none
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&none

				// ----------------------------------------

				&none
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&kp F16
				&kp F17
				&kp F18
				&kp F19
				&kp F20
				&none

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};






		// -----------------------------------------------------|
		// Layer 17 - mPNAV =	Programm NAV					|
		// -----------------------------------------------------|

		mac_pnav
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(X))				//
				&none						//
				&none						//
				&kp LG(LS(Q))				// 
				&kp LG(LS(W))				// 
				&kp LG(LS(E))				// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&kp BACKSPACE				//

				// ----------------------------------------
		
				&none						//
				&none						//
				&kp LG(LS(A))				// 
				&kp LG(LS(S))				// 
				&kp LG(LS(D))				// 
				&none						// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&none						//

				// ----------------------------------------

				&none						//
				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&none						//

				// ----------------------------------------
		
				&none						//
				&none
				&none						// 
				&none						//
				&mNavShift
				&none						// 

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 18 - SChar = 	  Buchstaben Shift				|
		// -----------------------------------------------------|

		mac_schar
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp LS(ESC)
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)
	
				// ----------------------------------------

				&kp LS(DEL)
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)

				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&kp LS(RET)
	
				// ----------------------------------------

				&mdLs
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&mdRs		

				// ----------------------------------------		

				&none						// 
				&kp LS(SPACE)				//
				&none						// 
				&none						//
				&mNavShift					// 
				&none						//

				// ----------------------------------------

			>;		
		};




		// -----------------------------------------------------|
		// Layer 19 - mSideShift =	Side Shift					|
		// -----------------------------------------------------|

		mac_mSShift
		{
			label = "MAC";

			bindings = <

				// ----------------------------------------

				&kp ESC						// 
				&kp LA(F1)					//
				&kp LA(F2)					//
				&kp LA(F3)					//
				&kp LA(F4)					//
				&kp LA(F5)					//

				&kp LG(F1)					//
				&kp LG(F2)					//
				&kp LG(F3) 					//
				&kp LG(F4)					//
				&kp LG(F5) 					//
				&kp BACKSPACE				//

				// ----------------------------------------
		
				&trans
				&kp LA(F6)					//
				&kp LA(F7)					//
				&kp LA(F8)					//
				&kp LA(F9)					//
				&kp LA(F10)					//

				&kp LG(F6)					//
				&kp LG(F7)					//
				&kp LG(F8)					//
				&kp LG(F9)					//
				&kp LG(F10)					//
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&to mCHAR
				&kp LA(F11)					//
				&kp LA(F12)					//
				&kp LA(F13)					//
				&kp LA(F14)					//
				&kp LA(F15)					//

				&kp LG(F11)					//
				&kp LG(F12)					//
				&kp LG(F13)					//
				&kp LG(F14)					//
				&kp LG(F15)					//
				&to mCHAR

				// ----------------------------------------
		
				&none
				&kp LG(SPACE)
				&mAlterShift				// 
				&mPNAVShift					//
				&mNavShift					//
				&to mNRhard

				// ----------------------------------------
			>;
		};






		// ----------------------------------------------------------------------------------------------|
		// 											WIN			
		// ----------------------------------------------------------------------------------------------|



		// -----------------------------------------------------|
		// Layer 0 - mChar = 	  Buchstaben					|
		// -----------------------------------------------------|
	
		win_buchstaben
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp J 
				&kp D	 
				&kp U
				&kp A
				&kp X

				&kp P
				&kp H
				&kp L
				&kp M
				&kp W
				&kp BSPC

				// ----------------------------------------
	
				&sl wSShift
				&kp C
				&kp T
				&kp I
				&kp E
				&kp O

				&kp B
				&kp N
				&kp R
				&kp S
				&kp G
				&kp RET

				// ----------------------------------------
	
				&mdLsWin
				&kp F
				&kp V
				&kp MINUS
				&kp Y
				&kp Q

				&kp Z
				&kp SEMI
				&kp LBKT
				&kp SQT
				&kp K
				&mdRsWin

				// ----------------------------------------

				&sl wSYM
				&kp SPACE
				&sl wFUNC
				&sl wPRG
				&sl wNAV
				&mdNrWin

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 1 - mNR = 	  Zahlen 							|
		// -----------------------------------------------------|

		win_zahlen
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BACKSPACE

				// ----------------------------------------

				&sl wSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8			
				&kp N9				
				&kp N0				
				&wEnterReset 

				// ----------------------------------------

				&mdLsWin
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&mdRsWin

				// ----------------------------------------
		
				&wSymReset
				&wSpaceReset 
				&wFuncReset
				&wPrgReset
				&wNavReset
				&none
			>;		
		};



		// -----------------------------------------------------|
		// Layer 2 - mLCHAR = 	  Buchstaben Lock				|
		// -----------------------------------------------------|
	
		win_lchar
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)

				// ----------------------------------------
	
				&sl wSShift
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)
			
				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&wEnterReset

				// ----------------------------------------

				&mdLsWin
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&mdRsWin						

				// ----------------------------------------

				&sl mSYM
				&wSpaceReset 
				&wFuncReset
				&wPrgReset
				&wNavReset
				&mdNrWin

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 3 - mNRhard = 	  Zahlen Hard Lock				|
		// -----------------------------------------------------|

		win_zahlenhard
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC	
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BSPC

				// ----------------------------------------

				&sl wSShift
				&kp N1				
				&kp N2				
				&kp N3				
				&kp N4					
				&kp N5		

				&kp N6				
				&kp N7				
				&kp N8				
				&kp N9				
				&kp N0				
				&kp ENTER 

				// ----------------------------------------

				&mdLsWin
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&mdRsWin

				// ----------------------------------------
		
				&sl wSYM
				&kp SPACE
				&sl wFUNC
				&sl wPRG
				&sl wNAV
				&to wCHAR
			>;		
		};





		// -----------------------------------------------------|
		// Layer = 4 - mNAV - Navigation						|
		// -----------------------------------------------------|

		win_navigation
		{		
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC						// -
				&kp LC(HOME)				// @Home Sprung
				&kp LS(TAB)
				&kp UP						// @Up
				&kp TAB
				&kp LC(A)				 	// 

				&kp LS(F1)				 	// 
				&kp LS(F2)				 	// 
				&kp PG_UP
				&kp LS(F4)				 	// 
				&kp LALT
				&kp BSPC					// -

				// ----------------------------------------

				&sl wSShift					// -
				&kp LC(END)					// @End Sprung
				&kp LEFT 					// @Left
				&kp DOWN					// @Down
				&kp RIGHT 					// @Right
				&wFuncMarkLine

				&kp LS(F6)				 	// 
				&kp LS(F7)				 	// 
				&kp PG_DN
				&kp LS(F9)				 	// 
				&kp LCTL
				&kp ENTER					// -
				
				// ----------------------------------------

				&mdLsWin
				&kp HOME				// @Home 
				&kp LC(LEFT)				// @Wort Sprung
				&kp LC(RIGHT)				// @Wort Sprung
				&kp END
				&wFuncMarkWord

				&kp LS(F11)				 	// 
				&kp LS(F12)				 	// 
				&kp LS(F13)				 	// 
				&kp LS(F14)				 	// 
				&kp LS(F15)				 	// 
				&mdRsWin

				// ----------------------------------------

				&sl wSYM
				&kp SPACE				
				&sl wFUNC
				&mo wCHAR
				&sl wNAV2					// deep
				&to wCHAR

				// ----------------------------------------							
			>;
		};

		// ---------------------------------------------------------|
		// Layer = 5 - mNAV2 - Navigation deep						|
		// ---------------------------------------------------------|		

		win_navigation2
		{		
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LS(ESC)	
				&kp LS(LC(HOME))
				&kp LS(TAB)
				&kp LS(UP)					
				&kp TAB
				&kp LC(A)

				&kp LA(F1) 
				&kp LA(F2) 
				&kp LC(PG_UP)
				&kp LA(F4) 
				&kp LALT
				&kp DEL

				// ----------------------------------------

				&sl wSShift					// -					
				&kp LS(LC(END))				
				&kp LS(LEFT)		
				&kp LS(DOWN)		
				&kp LS(RIGHT)		
				&wFuncMarkLine

				&kp LA(F6) 
				&kp LA(F7) 
				&kp LC(PG_DN)
				&kp LA(F9) 
				&kp LCTL
				&kp ENTER

				// ----------------------------------------
	
				&mdLsWin
				&kp LS(HOME)				// @Home 
				&kp LC(LS(LEFT))			// @Wort Sprung
				&kp LC(LS(RIGHT))			// @Wort Sprung
				&kp LS(END)					// @End  
				&wFuncMarkWord

				&kp LA(F11) 
				&kp LA(F12) 
				&kp LA(F13) 
				&kp LA(F14) 
				&kp LA(F15) 
				&mdRsWin

				// ----------------------------------------

				&sl wSYM
				&kp SPACE				
				&sl wFUNC
				&mo wCHAR					// 
				&wNavShift						// 
				&to wCHAR

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 6 - mPRG =	Programme							|
		// -----------------------------------------------------|


		win_programme
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F1))
				&kp LG(LS(N1))				// 11
				&kp LG(LS(N2))				// 12
				&kp LG(LS(N3))				// 13
				&kp LG(LS(N4))				// 14
				&kp LG(LS(N5))				// 15

				&kp LG(LS(N6))				// 16
				&kp LG(LS(N7))				// 17
				&kp LG(LS(N8))				// 18
				&kp LG(LS(N9))				// 19
				&kp LG(LS(N0))				// 20
				&kp LA(F4)

				// ----------------------------------------

				&kp LA(TAB)
				&kp LG(LA(N1))				// 1
				&kp LG(LA(N2))				// 2
				&kp LG(LA(N3))				// 3
				&kp LG(LA(N4))				// 4
				&kp LG(LA(N5))				// 5

				&kp LG(LA(N6))				// 6
				&kp LG(LA(N7))				// 7
				&kp LG(LA(N8))				// 8
				&kp LG(LA(N9))				// 9
				&kp LG(LA(N0))				// 0
				&kp LG(TAB)

				// ----------------------------------------

				&kp LG(LS(F5))
				&kp LS(LA(N1))			// 21 			
				&kp LS(LA(N2))			// 22
				&kp LS(LA(N3))			// 23
				&kp LS(LA(N4))			// 24
				&kp LS(LA(N5))			// 25
	
				&kp LS(LA(N6))			// 26
				&kp LS(LA(N7))			// 27
				&kp LS(LA(N8))			// 28
				&kp LS(LA(N9))			// 29
				&kp LS(LA(N0))			// 30
				&kp LG(LS(F6))
		
				// ----------------------------------------

				&none
				&none
				&none
				&sl wSPRG					// deep						
				&wNavShift
				&none

				// ----------------------------------------

			>;
		};
		


		// -----------------------------------------------------|
		// Layer 7 - mSPRG =	Spezial Prgramme				|
		// -----------------------------------------------------|


		win_sprogramme
		{

			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(F7))			// #OPEN
				&none
				&none
				&none
				&none
				&none

				&none
				&none
				&none
				&none
				&none
				&kp LG(LS(F8))			// #OPEN
		
				// ----------------------------------------

				&kp LG(LS(F9))			// #OPEN
				&kp LC(LG(N1))			//
				&kp LC(LG(N2))			//
				&kp LC(LG(N3))			//
				&kp LC(LG(N4))			//
				&kp LC(LG(N5))			//

				&kp LC(LG(N6))			//
				&kp LC(LG(N7))			//
				&kp LC(LG(N8))			//
				&kp LC(LG(N9))			//
				&kp LC(LG(N0))			//
				&kp LG(LS(F10))			// #OPEN

				// ----------------------------------------

				&kp LG(LS(F11))			// #OPEN			
				&none
				&none
				&none
				&none
				&none

				&none
				&none
				&none
				&none
				&none
				&kp LS(LG(F12))			// #OPEN
		
				// ----------------------------------------

				&none						//
				&none						//
				&none
				&trans						// 
				&wNavShift
				&none						// 

				// ----------------------------------------

			>;
		};
					


		// -----------------------------------------------------|
		// Layer 8 - mFUNC =	Funktionen						|
		// -----------------------------------------------------|

		win_function
		{
			label = "win";

			bindings = <

				// ----------------------------------------
	
				&kp LG(LS(F13))				
				&kp LC(LA(F1))	
				&kp LC(LA(F2))	
				&kp LC(LA(F3))	
				&kp LC(LA(F4))	
				&kp LC(LA(F5))	

				&kp LS(LA(F1))	
				&kp LS(LA(F2))					
				&kp LS(LA(F3))		
				&kp LS(LA(F4))	
				&kp LS(LA(F5))	
				&kp LC(W)				
				
				// ----------------------------------------

				&kp LG(LS(F14))		
				&kp LC(A)
				&kp LC(LA(F7))				
				&kp LC(LA(F8))				
				&kp LC(C)			
				&kp LC(X)

				&kp LG(V)
				&kp LC(V)
				&kp LS(LA(F8))				
				&kp LS(LA(F9))	
				&kp LS(LA(F10))	
				&kp ENTER

				// ----------------------------------------

				&kp LS(LG(F15))
				&kp LC(S)
				&kp LC(Z)
				&kp LC(Y)
				&kp LC(O)
				&kp LC(LA(F15))

				&kp LC(P)	
				&kp LS(LA(F11))	
				&kp LS(LA(F12))	
				&kp LS(LA(F13))	
				&kp LC(F)	
				&kp LC(T)
				
				// ----------------------------------------

				&sl wALT
				&sl wGUI					//
				&sl wSFUNC					// deep
				&none
				&wNavShift					//
				&none						//

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 9 - mSFUNC =	Spezial Funktionen				|
		// -----------------------------------------------------|

		win_specialfunction
		{
			label = "win";

			bindings = <

			// ----------------------------------------
	
				&kp LG(LS(F16))			
				&kp LG(LA(F1))				// #OPEN
				&kp LG(LA(F2))				// #OPEN
				&kp LG(LA(F3))				// #OPEN
				&kp LG(LA(F4))				// #OPEN
				&kp LG(LA(F5))				// #OPEN

				&kp LS(LA(LC(F1)))			// #OPEN
				&kp LS(LA(LC(F2)))			// #OPEN
				&kp LS(LA(LC(F3)))			// #OPEN
				&kp LS(LA(LC(F4)))			// #OPEN
				&kp LS(LA(LC(F5)))			// #OPEN
				&kp LS(LC(W))
				
				// ----------------------------------------

				&kp LG(LS(F17))		
				&kp LG(LA(F6))				// @Craft Today
				&kp LG(LA(F7))				// @Craft Tomorrow
				&kp LG(LA(F8))				// #OPEN
				&kp LG(LA(F9))				// #OPEN
				&kp LG(LA(F10))				// @Craft Last Day

				&kp LS(LA(LC(F6)))			// @Craft Today
				&kp LS(LA(LC(F7)))			// @Craft Tomorrow
				&kp LS(LA(LC(F8)))			// #OPEN
				&kp LS(LA(LC(F9)))			// #OPEN
				&kp LS(LA(LC(F10)))			// @Craft Last Day
				&kp LC(ENTER)	

				// ----------------------------------------

				&kp LG(LS(F18))		
				&kp LG(LA(F11))				// @Craft Einkauf
				&kp LG(LA(F12))				// #OPEN
				&kp LG(LA(F13))				// #OPEN
				&kp LG(LA(F14))				// #OPEN
				&kp LG(LA(F15))				// #OPEN

				&kp LS(LA(LC(F11)))			// @Craft Einkauf
				&kp LS(LA(LC(F12)))			// #OPEN
				&kp LS(LA(LC(F13)))			// #OPEN
				&kp LS(LA(LC(F14)))			// #OPEN
				&kp LS(LA(LC(F15)))			// #OPEN
				&kp LC(LS(T))
				
				// ----------------------------------------

				&sl wCTL
				&sl wSGUI					//
				&trans						// 
				&none
				&wNavShift						//
				&none						//

				// ----------------------------------------       
			>;
		};



		// -----------------------------------------------------|
		// Layer 10 - mSYM =	Symoble							|
		// -----------------------------------------------------|

		win_symbole
		{
			label = "win";

			bindings = <

				// ----------------------------------------
				
				&kp ESC
				&kp LS(LA(N7))			// backlslash
				&kp NUBS				// Spitze
				&kp LS(NUBS)			// Spitze
				&kp GRAVE				// ^
				&kp X
				
				&kp LS(NUHS)			// '
				&kp LS(DOT)				// :
				&kp LS(COMMA)			// ;
				&kp M
				&kp LS(SLASH)			// _
				&kp BACKSPACE			// Backspace

				// ----------------------------------------

				&kp LCTL
				&kp LA(L)				// @
				&kp LA(N7)				// grader strich
				&kp LS(N6)				// &
				&kp NUHS				// #
				&kp LS(N3)				// §

				&kp LS(N2)				// "
				&kp LS(N1)				// !
				&kp LS(N8)				// Runde
				&kp LS(N9)				// Runde
				&kp LS(MINUS)			// ?
				&kp ENTER

				// ----------------------------------------

				&kp LSHIFT				//
				&kp LS(N7)				// /
				&kp LS(RBKT)			// *				
				&kp LS(N5)				// %
				&kp LA(E)				// €
				&kp GRAVE				// ^

				&kp LS(N0)				// =
				&kp DOT					// .
				&kp COMMA				// ,
				&kp RBKT  				// +
				&kp SLASH 				// -
				&kp LG(DOT)   			// @Sonderzeichen
		
				// ----------------------------------------

				&sl wSSYM				// deep
				&none
				&none					// 
				&none					//
				&wNavShift					//
				&none					//

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 11 - mSSYM =	Special Symbole					|
		// -----------------------------------------------------|

		win_specialsonderzeichen
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC
				&trans					//
				&trans 					// 
				&trans					//
				&trans					//
				&trans					//

				&trans					//
				&trans
				&trans					//
				&kp RA(M)				// 
				&trans					//
				&kp BACKSPACE			// 

				// ----------------------------------------

				&kp LGUI
				&trans					//
				&kp LS(GRAVE)			// Grad
				&trans					//
				&trans					//
				&trans					//

				&trans					//
				&trans					//
				&kp LA(N5)				// Eckige
				&kp LA(N6)				// Eckige
				&trans					//
				&kp ENTER

				// ----------------------------------------

				&kp LALT
				&kp LS(LA(N7))			// 
				&trans
				&trans
				&kp LS(N4) 				// $
				&trans					//

				&kp LA(N)				// ~
				&trans
				&kp LA(N8)				// Geschweift
				&kp LA(N9)				// Geschweift
				&kp LS(SLASH)			// _
				&kp LG(DOT)   			// @Sonderzeichen

				// ----------------------------------------

				&trans					//
				&none
				&none					// 
				&none					//
				&wNavShift				// 
				&none					//

				// ----------------------------------------
			>;
		};	




		// -----------------------------------------------------|
		// Layer 12 - mGUI =	GUI								|
		// -----------------------------------------------------|

		win_gui
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LC(ESC)					// 
				&kp LC(J)					//
				&kp LC(D)					//
				&kp LC(U)					//
				&kp LC(A)					//
				&kp LC(X)					//

				&kp LC(P)					//
				&kp LC(H)					//
				&kp LC(L) 					//
				&kp LC(M)					//
				&kp LC(W) 					//
				&kp LC(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LC(DEL)					//
				&kp LC(C)					//
				&kp LC(T)					//
				&kp LC(I)					//
				&kp LC(E)					//
				&kp LC(O)					//

				&kp LC(B)					//
				&kp LC(N)					//
				&kp LC(R)					//
				&kp LC(S)					//
				&kp LC(G)					//
				&kp LC(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LC(F)					//
				&kp LC(V)					//
				&kp LC(MINUS)				//
				&kp LC(Y)					//
				&kp LC(Q)					//

				&kp LC(Z)					//
				&kp LC(SEMICOLON)			//
				&kp LC(LEFT_BRACKET)		//
				&kp LC(SINGLE_QUOTE)		//
				&kp LC(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&wNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};


		// -----------------------------------------------------|
		// Layer 13 - mSGUI =	SGUI								|
		// -----------------------------------------------------|

		win_sgui
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LC(LS(ESC))					// 
				&kp LC(LS(J))					//
				&kp LC(LS(D))					//
				&kp LC(LS(U))					//
				&kp LC(LS(A))					//
				&kp LC(LS(X))					//

				&kp LC(LS(P))					//
				&kp LC(LS(H))					//
				&kp LC(LS(L))					//
				&kp LC(LS(M))					//
				&kp LC(LS(W))					//
				&kp LC(LS(BACKSPACE))			//

				// ----------------------------------------
		
				&kp LC(LS(DEL))					// 
				&kp LC(LS(C))					//
				&kp LC(LS(T))					//
				&kp LC(LS(I))					//
				&kp LC(LS(E))					//
				&kp LC(LS(O))					//

				&kp LC(LS(B))					//
				&kp LC(LS(N))					//
				&kp LC(LS(R))					//
				&kp LC(LS(S))					//
				&kp LC(LS(G))					//
				&kp LC(LS(ENTER))				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LC(LS(F))					//
				&kp LC(LS(V))					//
				&kp LC(LS(MINUS))				//
				&kp LC(LS(Y))					//
				&kp LC(LS(Q))					//

				&kp LC(LS(Z))					//
				&kp LC(LS(SEMICOLON))			//
				&kp LC(LS(LEFT_BRACKET))		//
				&kp LC(LS(SINGLE_QUOTE))		//
				&kp LC(LS(K)) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&wNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 14 - mCTL =	CTL								|
		// -----------------------------------------------------|

		win_ctl
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(ESC)					// 
				&kp LG(J)					//
				&kp LG(D)					//
				&kp LG(U)					//
				&kp LG(A)					//
				&kp LG(X)					//

				&kp LG(P)					//
				&kp LG(H)					//
				&kp LG(L) 					//
				&kp LG(M)					//
				&kp LG(W) 					//
				&kp LG(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LG(DEL)					//
				&kp LG(C)					//
				&kp LG(T)					//
				&kp LG(I)					//
				&kp LG(E)					//
				&kp LG(O)					//

				&kp LG(B)					//
				&kp LG(N)					//
				&kp LG(R)					//
				&kp LG(S)					//
				&kp LG(G)					//
				&kp LG(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LG(F)					//
				&kp LG(V)					//
				&kp LG(MINUS)				//
				&kp LG(Y)					//
				&kp LG(Q)					//

				&kp LG(Z)					//
				&kp LG(SEMICOLON)			//
				&kp LG(LEFT_BRACKET)		//
				&kp LG(SINGLE_QUOTE)		//
				&kp LG(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&wNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 15 - mALT =	ALT								|
		// -----------------------------------------------------|

		win_alt
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LA(ESC)					// 
				&kp LA(J)					//
				&kp LA(D)					//
				&kp LA(U)					//
				&kp LA(A)					//
				&kp LA(X)					//

				&kp LA(P)					//
				&kp LA(H)					//
				&kp LA(L) 					//
				&kp LA(M)					//
				&kp LA(W) 					//
				&kp LA(BACKSPACE)			//

				// ----------------------------------------
		
				&kp LA(DEL)					//
				&kp LA(C)					//
				&kp LA(T)					//
				&kp LA(I)					//
				&kp LA(E)					//
				&kp LA(O)					//

				&kp LA(B)					//
				&kp LA(N)					//
				&kp LA(R)					//
				&kp LA(S)					//
				&kp LA(G)					//
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&kp LSHIFT
				&kp LA(F)					//
				&kp LA(V)					//
				&kp LA(MINUS)				//
				&kp LA(Y)					//
				&kp LA(Q)					//

				&kp LA(Z)					//
				&kp LA(SEMICOLON)			//
				&kp LA(LEFT_BRACKET)		//
				&kp LA(SINGLE_QUOTE)		//
				&kp LA(K) 					//
				&kp LSHIFT

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};



		// -----------------------------------------------------|
		// Layer 16 - mAlter =	Alterantive						|
		// -----------------------------------------------------|

		win_mAlter
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&none
				&kp F1
				&kp F2
				&kp F3
				&kp F4
				&kp F5

				&kp F6
				&kp F7
				&kp F8
				&kp F9
				&kp F10
				&none

				// ----------------------------------------
		
				&none
				&kp LC(N1)					// 11
				&kp LC(N2)					// 12
				&kp LC(N3)					// 13
				&kp LC(N4)					// 14
				&kp LC(N5)					// 15

				&kp LC(N6)					// 16
				&kp LC(N7)					// 17
				&kp LC(N8)					// 18
				&kp LC(N9)					// 19
				&kp LC(N0)					// 20

				&none

				// ----------------------------------------

				&none
				&kp F11
				&kp F12
				&kp F13
				&kp F14
				&kp F15

				&kp LC(LS(N6))					// 16
				&kp LC(LS(N7))					// 17
				&kp LC(LS(N8))					// 18
				&kp LC(LS(N9))					// 19
				&kp LC(LS(N0))					// 20
				&none

				// ----------------------------------------
		
				&none						//
				&trans
				&none						// 
				&none						//
				&mNavShift						//
				&none						// 

				// ----------------------------------------
			>;
		};






		// -----------------------------------------------------|
		// Layer 17 - mPNAV =	Programm NAV					|
		// -----------------------------------------------------|

		win_pnav
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LG(LS(X))				//
				&none						//
				&none						//
				&kp LG(LS(Q))				// 
				&kp LG(LS(W))				// 
				&kp LG(LS(E))				// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&kp BACKSPACE				//

				// ----------------------------------------
		
				&none						//
				&none						//
				&kp LG(LS(A))				// 
				&kp LG(LS(S))				// 
				&kp LG(LS(D))				// 
				&none						// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&none						//

				// ----------------------------------------

				&none						//
				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 

				&none						//
				&none						// 
				&none						//
				&none						// 
				&none						// 
				&none						//

				// ----------------------------------------
		
				&none						//
				&none
				&none						// 
				&none						//
				&mNavShift
				&none						// 

				// ----------------------------------------
			>;
		};




		// -----------------------------------------------------|
		// Layer 18 - SChar = 	  Buchstaben Shift				|
		// -----------------------------------------------------|

		win_schar
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp LS(ESC)
				&kp LS(J) 
				&kp LS(D)	 
				&kp LS(U)
				&kp LS(A)
				&kp LS(X)

				&kp LS(P)
				&kp LS(H)
				&kp LS(L)
				&kp LS(M)
				&kp LS(W)
				&kp LS(BSPC)
	
				// ----------------------------------------

				&kp LS(DEL)
				&kp LS(C)
				&kp LS(T)
				&kp LS(I)
				&kp LS(E)
				&kp LS(O)

				&kp LS(B)
				&kp LS(N)
				&kp LS(R)
				&kp LS(S)
				&kp LS(G)
				&kp LS(RET)
	
				// ----------------------------------------

				&mdLs
				&kp LS(F)
				&kp LS(V)
				&kp LS(MINUS)
				&kp LS(Y)
				&kp LS(Q)

				&kp LS(Z)
				&kp LS(SEMI)
				&kp LS(LBKT)
				&kp LS(SQT)
				&kp LS(K)
				&mdRs		

				// ----------------------------------------		

				&none						// 
				&kp LS(SPACE)				//
				&none						// 
				&none						//
				&mNavShift					// 
				&none						//

				// ----------------------------------------

			>;		
		};




		// -----------------------------------------------------|
		// Layer 19 - mSideShift =	Side Shift					|
		// -----------------------------------------------------|

		win_mSShift
		{
			label = "win";

			bindings = <

				// ----------------------------------------

				&kp ESC						// 
				&kp LA(F1)					//
				&kp LA(F2)					//
				&kp LA(F3)					//
				&kp LA(F4)					//
				&kp LA(F5)					//

				&kp LG(F1)					//
				&kp LG(F2)					//
				&kp LG(F3) 					//
				&kp LG(F4)					//
				&kp LG(F5) 					//
				&kp BACKSPACE				//

				// ----------------------------------------
		
				&trans
				&kp LA(F6)					//
				&kp LA(F7)					//
				&kp LA(F8)					//
				&kp LA(F9)					//
				&kp LA(F10)					//

				&kp LG(F6)					//
				&kp LG(F7)					//
				&kp LG(F8)					//
				&kp LG(F9)					//
				&kp LG(F10)					//
				&kp LA(ENTER)				// 

				// ----------------------------------------

				&to mCHAR
				&kp LA(F11)					//
				&kp LA(F12)					//
				&kp LA(F13)					//
				&kp LA(F14)					//
				&kp LA(F15)					//

				&kp LG(F11)					//
				&kp LG(F12)					//
				&kp LG(F13)					//
				&kp LG(F14)					//
				&kp LG(F15)					//
				&to mCHAR

				// ----------------------------------------
		
				&none
				&kp LG(SPACE)
				&mAlterShift				// 
				&mPNAVShift					//
				&mNavShift					//
				&to mNRhard

				// ----------------------------------------
			>;
		};



		
	};
};

